<body>
  {{ 'welcome' | translate }}
  <hr>
  <div>
    <a [advRouterLink]="[]" [queryParams]="{lang:null}">English</a>
    |
    <a [advRouterLink]="[]" [queryParams]="{lang:'fr'}">Fran&ccedil;ais</a>
    |
    <a [advRouterLink]="[]" [queryParams]="{lang:'nl'}">Nederlands</a>
  </div>
  <hr>
  <div>
    <a [advRouterLink]="['/']">Home</a>
    |
    <a [advRouterLink]="['/counter']">Counter</a>
    |
    <a [advRouterLink]="['/fetch-data']">Fetch Data</a>
  </div>
  <hr>
  <router-outlet></router-outlet>
</body>